.form-contact{
   width: 40% !important;
   margin-top: 120px;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icon-input-download{
    display: flex;
    justify-content: flex-end
}

.form-check{
    width:200px;
    
}